@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.cadastroDispositivos {
    width: 100%;
    max-width: 500px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box; 
}

h1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #515151;
    margin-bottom: 20px; 
}

.input-device,
.input-device-brand,
.input-device-ambience,
.input-device-name {
    width: 100%; 
    max-width: 350px; 
    margin-bottom: 20px; 
    max-height: 100px;
}

.input-device input,
.input-device-brand input,
.input-device-ambience input,
.input-device-name input {
    width: 100%; 
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    padding: 10px 14px; 
    box-sizing: border-box; 
    transition: box-shadow 0.3s ease;
    overflow-y: auto;
}

.input-device input:focus,
.input-device-brand input:focus,
.input-device-ambience input:focus,
.input-device-name input:focus {
    box-shadow: 0 0 0 3px rgba(243, 145, 194, 0.5); 
    outline: none; 
}


.input-device label,
.input-device-brand label,
.input-device-ambience label,
.input-device-name label {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 6px; 
}

.button-container {
    width: 100%;
    max-width: 350px;
    height: 36px;
    overflow-x: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: center;
}

.input-device input::placeholder {
    color: #b9b9b9d5; 
    
}

.input-device-ambience input::placeholder {
    color: #b9b9b9d5; 
    
}
.input-device-name input::placeholder {
    color: #b9b9b9d5; 
    
}

.input-device-brand input::placeholder {
    color: #b9b9b9d5; 
    
}

.cadastrar-dis-button {
    width: 100%;
    max-width: 250px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid #D0D5DD; 
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #FF3097;
    cursor: pointer;
    white-space: nowrap; 
}

@media screen and (max-width: 768px) {
    .cadastroDispositivos {
        padding: 10px; 
    }

    h1 {
        font-size: 18px; 
    }

    .input-device,
    .input-device-brand,
    .input-device-ambience,
    .input-device-name {
        max-width: 80%;
    }
}

@media screen and (min-width: 769px) {
    .cadastroDispositivos {
        max-width: 800px; 
        margin: 0 auto; 
    }

    .input-device,
    .input-device-brand,
    .input-device-ambience,
    .input-device-name {
        max-width: 400px; 
    }
}